.feedback-history {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        clear: both;
        margin-bottom: 5px;
        font-family: Helvetica, Arial, sans-serif;
        small {
            color: #999;
        }
        .message {
            white-space: pre-wrap;
            color: #fff;
            padding: 20px;
            min-width: 200px;
            max-width: 70vw;
            word-wrap: break-word;

            .delete-icon {
                float: right;
                visibility: hidden;
                cursor: pointer;
                margin-top: -10px;
                margin-right: -5px;
            }
        }

        .message:hover {
            .delete-icon {
                visibility: visible;
            }
        }
    }

    .feedback {
        margin-left: 10px;
        float: left;
        small {
            float: left;
        }
        .message {
            clear: both;
            background: #0099ff;
            border-radius: 0px 20px 20px 20px;
        }
    }

    .oneOnOne {
        margin-right: 10px;
        float: right;
        small {
            float: right;
        }
        .message {
            clear: both;
            background: #fa3c4c;
            border-radius: 20px 0px 20px 20px;
        }
    }

    .no-items-created {
        padding-top: 15rem;
        text-align: center;
    }

    .feedback-container {
        height: 65vh;
        overflow-y: scroll;
        margin-top: 1rem;
    }

    button {
        width: 100%;
        height: 3rem;
        color: #fff;
    }

    button.feedback-button {
        background: #0099ff;
    }

    button.one-on-one-button {
        margin-top: 0.6rem;
        background: #fa3c4c;
    }
}

// .him+.me {
//     border-bottom-right-radius: 5px;
// }
// .me+.me {
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;
// }
// .me:last-of-type {
//     border-bottom-right-radius: 30px;
// }
