ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    clear: both;
    margin-bottom: 5px;
    font-family: Helvetica, Arial, sans-serif;
    small {
        color: #999;
    }
    .message {
        white-space: pre-wrap;
        color: #fff;
        padding: 20px;
        min-width: 200px;
        max-width: 400px;
        word-wrap: break-word;
    }
}

.feedback {
    margin-left: 10px;
    float: left;
    small {
        float: left;
    }
    .message {
        clear: both;
        background: #0099FF;
        border-radius: 0px 20px 20px 20px;
    }
}

.oneOnOne {
    margin-right: 10px;
    float: right;
    small {
        float: right;
    }
    .message {
        clear: both;
        background: #FA3C4C;
        border-radius: 20px 0px 20px 20px;
    }
}

.no-items-created {
    padding-top: 15rem;
    text-align: center;
}

.feedback-container {
    height: 65vh;
    overflow-y: scroll;
    margin-top: 1rem;
}

button {
    width: 100%;
    height: 3rem;
    color: #fff;
}

button.feedback-button {
    background: #0099FF;
}

button.one-on-one-button {
    margin-top: 0.6rem;
    background: #FA3C4C;
}

// .him+.me {
//     border-bottom-right-radius: 5px;
// }
// .me+.me {
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;
// }
// .me:last-of-type {
//     border-bottom-right-radius: 30px;
// }