<ul class="list-group">
  <li class="list-group-item" *ngFor="let person of people$ | async">
    {{ person.name }}
    <button
      type="button"
      class="btn btn-primary float-right"
      (click)="showCalendar(person)"
      *ngIf="!person.showCalendar"
    >
      Show Calendar
    </button>
    <div [hidden]="!person.showCalendar" *ngIf="person.calendarInitialized">
      <button
        type="button"
        class="btn btn-primary float-right"
        (click)="person.showCalendar = false"
      >
        Hide Calendar
      </button>
      <calendar
        [person]="person"
        [contextMenuActions]="calendarContextMenuActions"
        (contextMenuActionClicked)="onContextMenuActionClicked($event)"
        (dayRendered)="dayRendered($event)"
      ></calendar>
    </div>
  </li>
</ul>
