<ul class="list-group people-list">
  <li class="list-group-item" *ngFor="let person of people$ | async">
    <person [person]="person"></person>
  </li>
</ul>
<div *ngIf="(people$ | async).length === 0" class="d-flex justify-content-center">
  <a class="btn btn-link px-5 mb-4" [routerLink]="['/administration']">
    Add people
  </a>
  <span class="pt-2">or</span>
  <a class="btn btn-link px-5 mb-4" [routerLink]="['/administration']" [queryParams]="{tab: 'import'}">
    Import from Workday
  </a>
</div>