.legend {
    font-size: 0.8em;
    right: 10px;
    position: absolute;
    .square-blue {
        color: blue;
    }
    .square-red {
        color: red;
    }
}

 ::ng-deep .tm-modal-dialog-body {
    width: 40%;
}

.person-name {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    width: 64.5px;
    height: 38px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd;
}