<div>
    <div>
        <h1 class="person-name cursor-pointer">{{ person.name }}</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" [ngClass]="{ 'active': isCalendarTabActive() }" (click)="changeTab('calendar')">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" [ngClass]="{ 'active': isFeedbackTabActive() }" (click)="changeTab('feedback')">Feedback</a>
                </li>
            </ul>
            <div [hidden]="!isCalendarTabActive()" class="details-container scrollbar">
                <calendar [person]="person" [contextMenuActions]="calendarContextMenuActions" (contextMenuActionClicked)="onContextMenuActionClicked($event)" (dayRendered)="dayRendered($event)"></calendar>
                <div class="legend">
                    <div><i class="far fa-square square-blue"></i> Feedback</div>
                    <div><i class="far fa-square square-red"></i> One-on-one</div>
                </div>
            </div>
            <div [hidden]="!isFeedbackTabActive()" class="details-container scrollbar" [scrollToBottom]="isFeedbackTabActive()">
                <feedback-history *ngIf="person" [person]="person"></feedback-history>
            </div>
        </div>
    </div>
</div>

<modal-dialog [id]="addFeedbackDialogName">
    <add-feedback *ngIf="addFeedbackModel" [addFeedbackModel]="addFeedbackModel" (completed)="addFeedbackCompleted($event)" [title]="addActionName"></add-feedback>
</modal-dialog>