<div *ngIf="person">
    <div>
        <h1 class="person-name cursor-pointer">{{ person.name }}</h1>
        <div>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Calendar">
                    <div>                        
                        <calendar [person]="person" [contextMenuActions]="calendarContextMenuActions" (contextMenuActionClicked)="onContextMenuActionClicked($event)" (dayRendered)="dayRendered($event)"></calendar>
                        <div class="legend">
                            <div class="legend-text"><i class="far fa-square square-blue"></i> Feedback</div>
                            <div class="legend-text"><i class="far fa-square square-red"></i> One-on-one</div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Feedback" #feedbackTab>
                    <feedback-history *ngIf="person" [person]="person" [isVisible]="feedbackTab.isActive"></feedback-history>  
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<modal-dialog [id]="addFeedbackDialogName">
    <add-feedback *ngIf="addFeedbackModel" [addFeedbackModel]="addFeedbackModel" (completed)="addFeedbackCompleted($event)" [title]="addActionName"></add-feedback>
</modal-dialog>