<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link cursor-pointer" [class.active]="action === 'AddPerson'" (click)="action = 'AddPerson'">Add a person</a>
  </li>
  <li class="nav-item">
    <a class="nav-link cursor-pointer" [class.active]="action === 'RemovePerson'" (click)="action = 'RemovePerson'">Remove a person</a>
  </li>
</ul>

<people-create (personAdded)="personAdded($event)" [hidden]="action != 'AddPerson'"></people-create>
<people-delete (personDeleted)="personDeleted($event)" [hidden]="action != 'RemovePerson'"></people-delete>
